:root {
  --c-table: hsl(135, 50%, 50%);

  --c-north: hsl(200, 94%, 35%);
  --c-north-light: hsl(200, 25%, 55%);
  --c-south: hsl(200, 94%, 55%);
  --c-south-light: hsl(200, 25%, 75%);
  --c-east: hsl(20, 94%, 35%);
  --c-east-light: hsl(20, 25%, 55%);
  --c-west: hsl(20, 94%, 55%);
  --c-west-light: hsl(20, 25%, 75%);
}

/* Tichu */
.card {
  --card-background: white;
  background: var(--card-background);
}

.tichu.suit{
  --card-background: var(--c-suit-light);
  --c-text: var(--c-suit);
}

.suit.red {
  --c-suit: hsl(47, 85%, 59%);
  --c-suit-light: hsl(10, 100%, 90%);
}
